/package.json
/package-lock.json
/node_modules/
/logs/
/config
/public/scripts
/.env
/StarkMedicalCertificate.p12
/config/cert.pem
/config/key.pem
/utils/logs/databaseActivity.log
/utils/logs/errorActivity.log
/utils/logs/userActivity.log
/utils/logs/authenticationActivity.log
/Stark_Medical_Security_Plan_Presentation.pptx
/models/User.js
/models/addUser.js