{% extends "layout.njk" %}

{% block head %}
    <title>Server Error!</title>
    <link rel="stylesheet" href="/css/error.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div id="errorWarning">
        <h1 id="firstHeader">
            500
        </h1>
        <p>
            Server Error!!
        </p>
    </div>
{% endblock %}